.tp-nav-bg{
    background-color: #191919;
    max-width: 300px;
}

.tp-nav-text *{
    font-size: large;
    color: #9f9f9f ;
}

.tp-nav-text a:hover {
    color: #FFFFFF;

}

.tp-nav-text li:hover {
    background-color: #426bfd;
}

.tp-nav-hr {
    background-color: #2c2c2c;
    border: none;
    height: 3px;
    color: #2C2C2C;
    width: 100%;
}

.tp-nav-logo * {
    color: #d1d1d1;
    display: flex;
    justify-content: center;

}

.tp-card-title {
    color: #FFFFFF;
}



.tp-card {
    background-color: #191919;
    border: #FFFFFF solid;
    height: 20rem;
}

.tp-nav-logo span {
    font-size: xxx-large;
}

.tp-nav-logo *:hover {
    color: #FFFFFF;
}

.tp-nav-active {
    background-color: #426bfd;
    color: #FFFFFF;
}

.tp-nav-active *{
    color: #FFFFFF;
}

.tp-admin-content {
    background-color: #000000;
    color: #FFFFFF;

}
.tp-admin-content h3{
    color: #bababa;
    font-size: larger;
    padding-bottom: 0.5rem;
}

.tp-admin-content h1{
    font-size: xx-large;
    padding-bottom: 1rem;
}

.tp-admin-content h2{
    font-size: x-large;
    padding-bottom: 0.8rem;
}

.tp-admin-content p {
    line-height: 1.5rem;
    padding-bottom: 0.3rem;
}

/*div {*/
/*    border: #0a3622 solid;*/
/*}*/